html {
  height: 100%;
}

body {
  background-image: #2cb5e8;
  background-image: -webkit-linear-gradient(left top, #0fb8ad 0%, #2cb5e8 100%);
  background-image: -o-linear-gradient(bottom right, #0fb8ad 0%, #2cb5e8 100%);
  background-image: -moz-linear-gradient(bottom right, #0fb8ad 0%, #2cb5e8 100%);
  background-image: linear-gradient(to bottom right, #0fb8ad 0%, #2cb5e8 100%);

  color: #fff;
}

.text-center {
  text-align: center;
}

.post {
  max-width: 800px;
  margin: 0 auto;
}

.post .text {
  column-count: 2;
}

.post .image {
  width: 200px;
  float: left;
  margin-right: 20px;
}
